@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //not authenticated
}
    <div class="jumbotron">
        <h1 style="color:#B0FDFF;text-align:center">Tune&Craft</h1>
        <p class="lead" style="text-align:center">Tune your spotify and youtube sources.</p>
        <p style="text-align:center"><a href="https://localhost:44395/Account/Register" class="btn btn-primary btn-lg">Register </a> <a href="https://localhost:44395/Account/Login" class="btn btn-primary btn-lg">Login </a></p>

    </div>

<div class="row">
    <div class="col-md-4">
   </div>
    <div class="col-md-4">
   </div>
    <div class="col-md-4">
  </div>
</div>