
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="jumbotron" style="text-align:center">
    @if (ViewBag.AuthValue == 0)
    {
        <h2>Authentication is not done,</h2>
        <hr />
        <p>
            @Html.ActionLink("Click here to connect Spotify", "Connect", "Spotify")
        </p>
    }
    else
    {
        <h2>Authentication is done!</h2>
        <hr />
        <p>
            @Html.ActionLink("Refresh Connection", "Connect", "Spotify")
        </p>
    }
</div>